@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


html {
  background: black;
  color: yellow;
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.1rem;
  margin-left: 5vw;
  margin-right: 10vw;
  margin-top: 8vh;

}

.wrap_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

.obj_name {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 5vh;
}

.pear_image {
  width: 5vw;
  height: auto;
}

.ety, .desc, .hist, .spec {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5vh;
}

.end_txt {
  font-size: 0.75rem;
  text-align: center;
  color: white;
}
